*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-primary: #1d3557;
  --color-primary-rgb: 29, 53, 87;
  --color-primary-dark: #0e1a2b;
  --color-primary-dark-rgb: 14, 26, 43;
  --color-primary-light: #e8eaee;
  --color-primary-light-rgb: 232, 234, 238;

  --color-text-dark: #000000;
  --color-text-light: #f6f5f1;
  --color-text-faded: #919191;
  --color-text-link: var(--color-primary);

  --gradient-fade-90: linear-gradient(
    90deg,
    rgba(var(--color-primary-dark-rgb), 1) 0%,
    rgba(var(--color-primary-rgb), 0.5) 50%,
    rgba(var(--color-primary-light-rgb), 0.25) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  --gradient-fade-180: linear-gradient(
    180deg,
    rgba(var(--color-primary-dark-rgb), 1) 0%,
    rgba(var(--color-primary-rgb), 0.5) 50%,
    rgba(var(--color-primary-light-rgb), 0.25) 75%,
    rgba(0, 0, 0, 0) 100%
  );

  --header-background: var(--color-primary-dark);
  --navbar-background: var(--color-primary);
}

html {
  -ms-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
