.contact-container {
  margin: auto;
  padding: 1rem;
  width: 80%;
}

.contact-container input,
.contact-container textarea {
  transition: background 500ms ease;
}

.contact-container button {
  transition: background 500ms ease, color 1s ease;
}

.contact-container button:hover {
  background: var(--color-primary);
  color: var(--color-text-light);
}

.contact-container input:hover,
textarea:hover {
  background: var(--color-primary-light);
}
