.edit-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 75vh;
  margin: auto;
  margin-top: 1rem;
  max-width: 80%;
  padding: 10px;
}

.post__title {
  margin-bottom: 1rem;
}

.post__title > input {
  border: none;
  font-size: 200%;
  padding: 10px;
  width: 100%;
}

.post__title::placeholder {
  color: var(--color-text-faded);
}

.post__submit {
  background: var(--color-primary-dark);
  border-radius: 5px;
  border: none;
  color: var(--color-text-light);
  font-size: 20px;
  padding: 0.25rem;
  padding: 10px;
  width: 100%;
}

.post__editor {
  padding: 1rem;
  margin-bottom: 1rem;
}
