.profile-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.profile__header {
  background: var(--color-primary);
  color: var(--color-text-light);
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.profile__header > h2 {
  margin-bottom: 0;
}

.profile__body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.profile__actions {
  position: relative;
}

.profile__actions > a,
.profile__actions > #logout {
  margin-left: 3rem;
  position: relative;
}

.profile-icon {
  color: var(--color-primary-light);
  position: absolute;
  right: 0;
}

.profile-container > h1 {
  margin: 0;
}

.user-info {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: dotted 2px var(--color-primary);
}
