.search-container {
  margin: auto;
  padding: 1rem;
  width: 80%;
}

.search-result {
  border-bottom: 1px dotted var(--color-primary-dark);
  margin-bottom: 1.45rem;
  padding-bottom: 1rem;
}

.search-result__title {
  margin-bottom: 1rem;
}

.sarch-result__link {
  text-decoration: none;
  color: var(--color-text-link);
}
