.search__icon {
  display: block;
  margin-bottom: auto;
  margin-top: auto;
  padding: 5px;
}

.search__input {
  background-color: var(--color-text-light);
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-right: 5px;
  padding: 5px;
}

.search__wrapper {
  background-color: var(--color-text-light);
  border-radius: 5px;
  border: 2px solid var(--color-primary);
  display: flex;
  flex-direction: row;
  margin: auto 0 0 auto;
}
