.search__icon {
  display: block;
  margin: auto;
}

.search__input {
  background-color: var(--color-text-light);
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 5px;
}

.search__wrapper {
  background-color: var(--color-text-light);
  display: flex;
  flex-direction: row;
  margin: auto 0 0 auto;
}
