.header-container {
  background: linear-gradient(90deg, rgb(100, 50, 150), rgb(70, 30, 150));
  border-bottom: 3px solid rgb(70, 30, 110);
  width: 100%;
  padding: 1rem 10% 1rem;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: rgb(245, 245, 245);
  text-decoration: none;
}

.header-search-input {
  background-color: rgb(245, 245, 245);
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 10px;
}

.header-search-wrapper {
  display: flex;
  background-color: rgb(245, 245, 245);
}

.header-search-icon {
}

@media (max-width: 630px) {
  .header-container {
    padding: 1rem 10% 1rem;
  }

  .header-search {
    display: none;
  }
}
