.header-container {
  background: rebeccapurple;
}

.header-box {
  display: flex;
  justify-content: space-between;
  padding: 1rem 10rem 1rem;
}

.header-box a {
  color: white;
  text-decoration: none;
}

.header-box h1 {
  display: inline-block;
  text-align: left;
  margin: 0;
}

.search-field {
  max-height: 2rem;
}
