.navbar-container {
  background-color: black;
  margin-bottom: 1.45rem;
}

.navbar-box {
  max-width: 1000px;
  padding: 0 10rem;
}

.navbar-box ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-box ul li {
  margin: 0 3rem 0 0;
  padding: 1rem 0;
}

.navbar-box a {
  color: white;
  text-decoration: none;
}
