.header-container {
  background: var(--header-background);
  border-bottom: 3px solid var(--color-primary-light);
  width: 100%;
  padding: 1rem 10% 1rem;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: var(--color-text-light);
  text-decoration: none;
}
