.header-container {
  background: var(--header-background);
  border-bottom: 3px solid var(--color-primary-light);
  width: 100%;
  padding: 1rem 10% 1rem;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: var(--color-text-light);
  text-decoration: none;
}

.header-search-wrapper {
  background-color: var(--color-text-light);
  display: flex;
  flex-direction: row;
  margin: auto 0 0 auto;
  padding: 5px;
}

.header-search-input {
  background-color: var(--color-text-light);
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 5px;
  padding: 0 10px;
}

#header-mobile-nav {
  border-radius: 5px;
  border: 2px solid var(--color-text-light);
  display: none;
  padding: 3px;
}

.mobnavbar-container {
  background-color: var(--color-text-dark);
  color: rgb(245, 245, 245);
  display: none;
  flex-direction: column;
  font-size: 20px;
  padding: 10px;
  width: 100%;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.mobnavbar-link {
  color: rgb(245, 245, 245);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  margin: auto;
  padding-bottom: 1rem;
  padding: 1rem 0px;
  text-decoration: none;
}

.icon {
  display: block;
  margin: auto;
}

@media (max-width: 768px) {
  .header-container {
    padding: 1rem 5% 1rem;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13), 1px 2px 2px rgba(0, 0, 0, 0.1),
      -1px -2px 2px rgba(0, 0, 0, 0.05);
  }
  .mobnavbar-container {
    display: flex;
  }
  #header-search-icon,
  .header-search-input {
    display: none;
  }

  .header-search-wrapper {
    background-color: transparent;
  }

  #header-mobile-nav {
    display: block;
  }
}
