.navbar-container {
  background-color: var(--navbar-background);
  border-bottom: 3px solid var(--color-primary-light);
  display: inline-flex;
  flex-direction: row;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  justify-content: space-between;
  padding: 20px 10% 20px;
  width: 100%;
}

.navbar-link {
  color: var(--color-text-light);
  margin-right: 10px;
  text-decoration: none;
}

.navbar-separator {
  color: var(--color-text-faded);
  font-size: 20px;
  margin-right: 10px;
}

.active-link {
  filter: brightness(0.5);
}

.links-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}

.user-icon {
  color: var(--color-primary-light);
  position: absolute;
  right: 0;
}
