.footer {
  background: var(--color-primary);
  border-top: 3px solid var(--color-primary-light);
  color: var(--color-text-light);
  margin-top: 1.45rem;
  padding: 1.45rem 2rem;
}

.footer-wrapper {
  margin: auto;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-link {
  text-decoration: none;
  color: var(--color-text-light);
}

.footer-link__icon {
  margin: auto 10px auto 0;
  color: var(--color-text-light);
  position: relative;
  top: 2px;
  bottom: 5px;
}

.footer-copyright__symbol {
  margin: auto 10px auto 0;
}
