.snackbar {
  background-color: var(--color-primary-dark);
  border-radius: 10px;
  border: 1px solid var(--color-primary-light);
  color: var(--color-text-light);
  padding: 10px;
  position: absolute;
  transition: opacity 0.4s ease-in-out;
}
