.snackbar {
  background-color: rgba(var(--color-primary-dark-rgb), 0.5);
  border-radius: 30px;
  border: 1px solid var(--color-primary-light);
  color: var(--color-text-light);
  outline-offset: 5px;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  transition: filter 50ms ease, background-color 50ms ease;
}

.snackbar > * {
  margin: 0;
  padding: 0;
}

.snackbar:hover {
  background-color: rgba(var(--color-primary-dark-rgb), 1);
  filter: brightness(1.5);
}
