.comment-form {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.comment-form__name {
  margin-bottom: 10px;
  padding: 10px;
}

.comment-form__comment {
  margin-bottom: 10px;
  padding: 10px;
}

.comment-list {
  margin-top: 10px;
  padding: 1rem;
  border: 1px solid black;
}

.comment {
  border-bottom: 1px dotted black;
  margin-bottom: 1rem;
}
