.register-wrapper {
  margin-right: auto;
  position: relative;
}

.register__header {
  background: var(--color-primary);
  color: var(--color-text-light);
  margin-bottom: 1.125rem;
  padding: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form input {
  border: none;
  border: 2px solid var(--color-primary-light);
  margin-bottom: 1.125rem;
  margin-top: 0.75rem;
  padding: 5px;
}

.register__submit {
  background-color: var(--color-primary-light);
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 20px;
}
